<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Dados Pessoais</h4>
                </div>
                <div class="card-content">


                    <form method="get" action="/" [formGroup]="cliente" (ngSubmit)="onSubmit()">

                        <fieldset>
                            <div class="col-xs-8 col-md-8">
                                <app-input-text formControlName="email" label="EMAIL"></app-input-text>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label required" for="tipo"> TIPO DE PESSOA:</label>
                                    <select class="form-control" id="tipo" formControlName="tipo">
                                        <option *ngFor="let p of pessoa" [value]="p">{{p}}
                                    </select>
                                </div>
                            </div>

                        </fieldset>

                        <div class="fisica" formGroupName="fisica" *ngIf="cliente.get('tipo').value === 'Física'">

                            <fieldset>
                                <div class="col-xs-4 col-md-4">
                                    <app-input-text formControlName="nome" label="NOME"></app-input-text>
                                </div>
                                <div class="col-xs-8 col-md-8 pull-right">
                                    <app-input-text formControlName="sobrenome" label="SOBRENOME"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="cpf" label="CPF"></app-input-text>
                                </div>
                                <div class="col-xs-6 col-md-6 pull-right">
                                    <app-input-text formControlName="rg" label="RG"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <app-input-text formControlName="data_nascimento" label="DATA DE
                                            NASCIMENTO"></app-input-text>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6 pull-right">
                                    <div class="form-group">
                                        <label class="form-control-label required" for="sexo"> SEXO:</label>
                                        <select class="form-control" id="sexo" formGroupName="sexo">
                                            <option *ngFor="let s of sexo" [value]="s">{{s}}
                                        </select>

                                    </div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="juridica" formGroupName="juridica"
                             *ngIf="cliente.get('tipo').value === 'Jurídica'">

                            <fieldset>
                                <div class="col-xs-7 col-md-7">
                                    <app-input-text formControlName="razao_social" label="RAZ&Atilde;O
                                            SOCIAL"></app-input-text>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <app-input-text formControlName="contato" label="RESPONSÁVEL"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="cnpj" label="CNPJ"></app-input-text>
                                </div>
                                <div class="col-xs-6 col-md-6 pull-right">
                                    <app-input-text formControlName="ie" label="IE"></app-input-text>
                                </div>
                            </fieldset>

                        </div>
                        <div formGroupName="fone">

                            <fieldset>
                                <div class="col-xs-6 col-md-6 pull-right">
                                    <app-input-text formControlName="celular" label="CELULAR"></app-input-text>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="fixo" label="TELEFONE FIXO"></app-input-text>
                                </div>
                            </fieldset>

                        </div>

                        <fieldset>
                            <div class="col-xs-12 col-md-12">
                                <app-input-multiple-select [label]="'COMO NOS CONHECEU'" formControlName="conhecimento"
                                                           [options]="opcoes"
                                                           [title]="'COMO NOS CONHECEU'"
                                                           [help]="'Selecione um ou mais'"></app-input-multiple-select>
                            </div>
                        </fieldset>

                        <div formGroupName="endereco">
                            <h5>Endereço Principal</h5>

                            <fieldset>
                                <div class="col-xs-2 col-md-2">
                                    <div class="form-group">
                                        <label class="form-control-label required" for="tipo"> TIPO DE
                                            ENDERE&Ccedil;O:</label>
                                        <select class="form-control" id="endereco.tipo" formGroupName="tipo">
                                            <option *ngFor="let e of endereco" [value]="e">{{e}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="cep" label="CEP"></app-input-text>
                                </div>
                                <div class="col-xs-4 col-md-4 pull-right">
                                    <div class="form-group">
                                        <label class="form-control-label" for="btCadastroOkCep">&nbsp;</label>
                                        <button class="form-control btn btn-primary btn-cep" id="btCadastroOkCep">
                                            Pesquisar CEP
                                        </button>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-8 col-md-8">
                                    <app-input-text formControlName="logradouro" label="ENDEREÇO"></app-input-text>
                                </div>
                                <div class="col-xs-4 col-md-4 pull-right">
                                    <app-input-text formControlName="numero" label="NÚMERO"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-12 col-md-12">
                                    <app-input-text formControlName="complemento" label="COMPLEMENTO"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="bairro" label="BAIRRO"></app-input-text>
                                </div>
                                <div class="col-xs-6 col-md-6 pull-right">
                                    <app-input-text formControlName="localidade" label="CIDADE"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="estado" label="ESTADO"></app-input-text>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <app-input-text formControlName="pais" label="PAIS"></app-input-text>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="col-xs-12 col-md-12">
                                    <app-input-text formControlName="referencia" label="REFERÊNCIA"></app-input-text>
                                </div>
                            </fieldset>

                        </div>

                        <div class="category"><span class="star">*</span> Campos obrigatórios</div>


                        <fieldset>
                            <div class="checkbox pull-left">
                                <label class="form-control-label">
                                    <input type="checkbox" id="newsletter" formControlName="newsletter"/>
                                    Quer acompanhar por e-mail novidades e promo&ccedil;&otilde;es?</label>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Salvar</button>
                            </div>

                        </fieldset>


                    </form>


                </div>
            </div>  <!-- end card -->
        </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
    <pre>Form value: {{ cliente.value | json }}</pre>
</div>