
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Dados Pessoais</h4>
          </div>
          <div class="card-content">


            <form method="get" action="/" [formGroup]="cliente">


              <fieldset>
                <div class="col-xs-8 col-md-8">

                  <app-input-text [group]="cliente" [id]="'email'" [label]="'Email'"></app-input-text>

                  <!--
                  <div class="form-group">
                      <label class="form-control-label required" for="email"> EMAIL:</label>
                      <input class="form-control" type="email" id="email" formControlName="email"/>
                      <app-show-errors [control]="cliente.controls.email"></app-show-errors>
                  </div>
                  -->

                </div>


                <div class="col-xs-4 col-md-4">
                  <div class="form-group">
                    <label class="form-control-label required" for="tipo"> TIPO DE PESSOA:</label>
                    <select class="form-control" id="tipo" formControlName="tipo">
                      <option *ngFor="let p of pessoa" [value]="p">{{p}}
                    </select>
                  </div>
                </div>

              </fieldset>

              <div class="fisica" formGroupName="fisica" *ngIf="cliente.get('tipo').value === 'Física'">
                <fieldset>
                  <div class="col-xs-4 col-md-4">

                    <app-input-text [group]="cliente.controls.fisica" [id]="'nome'"
                                    [label]="'Nome'"></app-input-text>


                  </div>
                  <div class="col-xs-8 col-md-8 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="sobrenome">
                        SOBRENOME:</label>
                      <input type="text" class="form-control" id="sobrenome"
                             formControlName="sobrenome"/>
                      <app-show-errors
                              [control]="cliente.controls.fisica.controls.sobrenome"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="cpf"> CPF:</label>
                      <input type="text" class="form-control" id="cpf" formControlName="cpf"/>
                      <app-show-errors
                              [control]="cliente.controls.fisica.controls.cpf"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="rg"> RG:</label>
                      <input type="text" class="form-control" id="rg" formControlName="rg"/>
                      <app-show-errors
                              [control]="cliente.controls.fisica.controls.rg"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="data_nascimento"> DATA DE
                        NASCIMENTO:</label>
                      <input type="text" class="form-control" id="data_nascimento"
                             formControlName="data_nascimento"/>
                      <app-show-errors
                              [control]="cliente.controls.fisica.controls.data_nascimento"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="sexo"> SEXO:</label>
                      <select class="form-control" id="sexo" formGroupName="sexo">
                        <option *ngFor="let s of sexo" [value]="s">{{s}}
                      </select>

                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="juridica" formGroupName="juridica"
                   *ngIf="cliente.get('tipo').value === 'Jurídica'">
                <fieldset>
                  <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                      <label class="form-control-label required" for="razao_social"> RAZ&Atilde;O
                        SOCIAL:</label>
                      <input type="text" class="form-control" id="razao_social"
                             formControlName="razao_social"/>
                      <app-show-errors
                              [control]="cliente.controls.juridica.controls.razao_social"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="contato"> RESPONS&Aacute;VEL:</label>
                      <input type="text" class="form-control" id="contato"
                             formControlName="contato"/>
                      <app-show-errors
                              [control]="cliente.controls.juridica.controls.contato"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="cnpj"> CNPJ:</label>
                      <input type="text" class="form-control" id="cnpj" formControlName="cnpj"/>
                      <app-show-errors
                              [control]="cliente.controls.juridica.controls.cnpj"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="ie"> IE:</label>
                      <input type="text" class="form-control" id="ie" formControlName="ie"/>
                      <app-show-errors
                              [control]="cliente.controls.juridica.controls.ie"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div formGroupName="fone">
                <fieldset>
                  <div class="col-xs-6 col-md-6 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="celular"> CELULAR:</label>
                      <input type="text" class="form-control" id="celular"
                             formControlName="celular"/>
                      <app-show-errors
                              [control]="cliente.controls.fone.controls.celular"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="fixo"> TELEFONE FIXO</label>
                      <input type="text" class="form-control" id="fixo" formControlName="fixo"/>
                      <app-show-errors
                              [control]="cliente.controls.fone.controls.fixo"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
              </div>

              <fieldset>
                <div class="col-xs-12 col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="conhecimento"> COMO NOS
                      CONHECEU</label>
                    <input type="text" class="form-control" id="conhecimento"
                           formControlName="conhecimento"/>
                  </div>
                </div>
              </fieldset>

              <div formGroupName="endereco">
                <h5>Endereço Principal</h5>
                <fieldset>
                  <div class="col-xs-2 col-md-2">
                    <div class="form-group">
                      <label class="form-control-label required" for="tipo"> TIPO DE ENDERE&Ccedil;O:</label>
                      <select class="form-control" id="endereco.tipo" formGroupName="tipo">
                        <option *ngFor="let e of endereco" [value]="e">{{e}}
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="cep"> CEP:</label>
                      <input type="text" class="form-control" id="cep" formControlName="cep"/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.cep"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4 pull-right">
                    <div class="form-group">
                      <label class="form-control-label" for="btCadastroOkCep">&nbsp;</label>
                      <button class="form-control btn btn-primary btn-cep" id="btCadastroOkCep">
                        Pesquisar CEP
                      </button>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                      <label class="form-control-label required" for="logradouro"> ENDERE&Ccedil;O:</label>
                      <input type="text" class="form-control" id="logradouro"
                             formControlName="logradouro">
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.logradouro"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4 pull-right">
                    <div class="form-group">
                      <label class="form-control-label" for="numero"> N&Uacute;MERO</label>
                      <input type="text" class="form-control" id="numero"
                             formControlName="numero"/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.numero"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="complemento"> COMPLEMENTO</label>
                      <input type="text" class="form-control" id="complemento"
                             formControlName="complemento"/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.complemento"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="bairro"> BAIRRO:</label>
                      <input type="text" class="form-control" id="bairro"
                             formControlName="bairro"/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.bairro"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6 pull-right">
                    <div class="form-group">
                      <label class="form-control-label required" for="localidade"> CIDADE:</label>
                      <input type="text" class="form-control" id="localidade"
                             formControlName="localidade" readonly/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.localidade"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="estado"> ESTADO:</label>
                      <input type="text" class="form-control" id="estado" formControlName="estado"
                             readonly/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.estado"></app-show-errors>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="pais"> PAIS:</label>
                      <input type="text" class="form-control" id="pais" formControlName="pais"
                             readonly/>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.pais"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="referencia"> REFER&Ecirc;NCIA</label>
                      <textarea class="form-control" id="referencia" formControlName="referencia"
                                size="30"
                                rows="1"></textarea>
                      <app-show-errors
                              [control]="cliente.controls.endereco.controls.referencia"></app-show-errors>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="category"><span class="star">*</span> Campos obrigatórios</div>


              <fieldset>
                <div class="checkbox pull-left">
                  <label class="form-control-label">
                    <input type="checkbox" id="newsletter" formControlName="newsletter"/>
                    Quer acompanhar por e-mail novidades e promo&ccedil;&otilde;es?</label>
                </div>


                <div class="form-group text-right">
                  <button type="submit" class="btn btn-info btn-fill btn-wd">Salvar</button>
                </div>

              </fieldset>


            </form>


          </div>
        </div>  <!-- end card -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
    <p>Form value: {{ cliente.value | json }}</p>
  </div>